@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 10px;
}

nav > a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin: 20px;
}


.logo {
    width: 150px;
    margin: 0px 10px 0px 10px;

}

/* SECCION 1 */

.hero {
    background-image: url(imagenes/pug.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    
}

.textohero {
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    left: 10%;
    top: 30%;
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 75px;
}

.textohero > h2 {
    font-weight: 200;
    color: white;
    padding: 30px 0px 40px 0px;
}

.textohero > button {
    padding: 15px;
    border: 1px solid #F53A50;
    border-radius: 8px;
    font-weight: 900;
}

.boton1 > a {
    text-decoration: none;
    color:#F53A50 ;

}

/* SECCION 2 */

.seccion2 {
    margin: 50px;
}

.cajas {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
}

.img2 {
    width: 230px;
    box-shadow: 0 0 6px #F53A50;
    margin: 20px 0px 30px 0px;
}

.productrange {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    color: #F53A50;
    display: flex;
    justify-content: center;
    margin: 0px 0px 30px 0px;
}

.texto2 > h3 {
    color: #F53A50;
    padding: 0px 0px 20px 0px;
    font-size: 19px;

}

.texto2 > p {
    font-size: 13px;
    line-height: 22px
}

.texto2 > button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin-top: 20px;
    padding: 15px 40px 15px 40px;
    background-color: #F53A50;
    color: white;
    border: none;
    border-radius: 9px;
}

.boton2 > a {
    text-decoration: none;
    color: white;
}

/* SECCION 3 */

.seccion3 {
    background: linear-gradient(80deg, #C94970, #F53A50);
    padding: 60px;
}

.texto3 > h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 30px 0px 15px 0px;
}

.texto3 > p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 5px 0px 30px 0px;
}

.texto3 > button {
    display: flex;
    margin-top: 20px;
    padding: 15px 30px 15px 0px;
    background-color: white;
    color: #F53A50;
    border: none;
    border-radius: 9px;
}

.boton3 {
    justify-content: center;
}

.boton3 > a {
    text-decoration: none;
    color: #F53A50;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    justify-content: center;
}

