@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;600&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 10px;
}

nav > a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin: 20px;
    transition: 0.2s;
}

nav > a:hover {
    color: #F53A50;
}


.logo {
    width: 150px;
    margin: 0px 10px 0px 10px;

}

/* HERO */

.hero {
    background-image: url(imagenes/pug.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    
}

.textohero {
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    left: 10%;
    top: 30%;
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 75px;
}

.textohero > h2 {
    font-weight: 200;
    color: white;
    padding: 30px 0px 40px 0px;
}

.boton1 > button {
    padding: 15px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
    color:#F53A50 ;
    transition: 0.3s;
}

.boton1 > button:hover{
    transition: 0.3s;
    background-color: #f53a5000;
    color: white;
}

/* SECCION 2 */

.seccion2 {
    margin: 50px;
}

.cajas {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
}

.img2 {
    width: 230px;
    box-shadow: 1px 1px 8px  #f53a504f;
    border: none;
    border-radius: 7px;
    margin: 20px 0px 30px 0px;
    transition: transform 0.2s;
}

.img2:hover {
    transform: scale(1.10);
}

.productrange {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    color: #F53A50;
    display: flex;
    justify-content: center;
    margin: 0px 0px 30px 0px;
}

.texto2 > h3 {
    color: #F53A50;
    padding: 0px 0px 20px 0px;
    font-size: 19px;

}

.texto2 > p {
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
}

.boton2 > button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin-top: 20px;
    padding: 15px 40px 15px 40px;
    background-color: #F53A50;
    color: white;
    border: 1px solid #F53A50;
    border-radius: 9px;
    transition: 0.3s;
    cursor: pointer;
}

.boton2 > button:hover {
    background-color: white;
    color: #F53A50;
}


/* SECCION 3 */

.seccion3 {
    background-image: linear-gradient(29deg, #C94970 0%, #AB1367 0%, #F53A50 83%, #FC697B 95.43895721435547%);
    padding: 50px 0px 120px 0px;
}

.texto3 > h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 30px 0px 15px 0px;
}

.texto3 > p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 5px 0px 30px 0px;
}

.boton3 > button {
    position: absolute;
    right: 43%;
    margin-top: 10px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
    color:#F53A50 ;
    transition: 0.3s;
    justify-content: center;
    text-align: center;
}

.boton3 >button:hover {
    background-color: #ab136700;
    color: white;
}


/* SECCION 4 */

.seccion4 {
    line-height: 60px;
}

.imagen4 > img {
    display: block;
    position: relative;  
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.petshappy {
    position: absolute;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    left: 64%;
    top: 332%;
    transform: translate(-25%, -235%);
    transition: 0.4s;
    cursor: default;
}

.petshappy:hover {
    color: #F53A50;
}

/* SECCION 5 */

.seccion5 {
    font-family: 'Work Sans', sans-serif;
    padding: 0px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    position: relative
}

.aboutus {
    padding: 100px 0px 100px 0px;
}

.aboutus > h2 {
    color: #F53A50;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 35px;
    font-size: 45px;
}

.aboutus > p {
    line-height: 27px;
    display: block;
    padding:4px 0px 10px 0px ;
    font-weight: 300;
    font-size: 17px;
    color: black;
    z-index: 1;
}


.fondo5 {
    position: relative;
    display: flex;
    right: 0px;
    left: 120px;
    bottom: 20px;
    width: 350px;
    height: 88vh;
    background: linear-gradient(138deg, rgba(252,105,123,1) 30%, rgba(194,29,95,1) 100%);
    z-index: -1;
    border-radius: 0px 0px 200px 0px;
}

.cajasseccion5 {
    margin: 70px 0px 120px 0px;
    position: absolute;
    right: 320px;  
}

.cajas5 > h3 {
    padding-bottom: 9px;
}

.cajas5 {
    font-size: 13px;
    background-color: white;
    box-shadow: 0 0 4px #FC697B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    right: 40%;
    flex-direction: column;  
    margin: 40px;  
    padding: 15px 10px 15px 50px;
    transition: 0.2s;
}

.cajas5:hover {
    padding-right: 55px;
}


.iconos5 > img {
    width: 60px;
    display: flex;
    justify-content: left;
    position: absolute;
    right: 81%;
    border-radius: 5px;
}


/* SECCION 6 */

.seccion6 {
    background-color: #fff5f6;
    padding: 60px 90px 60px 90px;
}

.seccion6 > h2 {
    color: #F53A50;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 60px;
    font-size: 45px;
    text-align: center;
}

.reviews {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0px 90px 0px 100px;
}

.cajas6 > h3 {
    color: #F53A50;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 35px;
    font-size: 25px;
    text-align: center; 
}

.cajas6 > p {
    font-weight: 300;
    line-height: 25px;
}

.huellita > img {
    width: 100px;
padding-left: 40px;
}


/* SECCION 7 */

.seccion7 {
    display: flex;
    padding: 90px 90px 60px 90px;
    font-family: 'Work Sans', sans-serif;

}

.izquierda7 > img {
    width: 450px;
    padding: 60px 100px 40px 70px
}

.derecha7 {
    margin: 20px 50px 20px 20px ;
}

.derecha7 > h2{
    color: #F53A50;
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 45px;
}

.derecha7 > p {
    padding-bottom: 20px;
}

.subtexto {
    padding-bottom: 20px;
}

.texto7 > span {
    color: #F53A50;
    font-weight: 600;
}

/* SECCION 8 */

.seccion8 {
    background: #C94970;
    background-image: linear-gradient(29deg, #C94970 0%, #AB1367 0%, #F53A50 83%, #FC697B 95.43895721435547%);
    padding: 50px 0px 120px 0px;
}

.boton4 > button{
    position: absolute;
    right: 44%;
    margin-top: 10px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
    color:#F53A50 ;
    transition: 0.3s;
    justify-content: center;
    text-align: center;
}

.boton4 >button:hover {
    background-color: #ab136700;
    color: white;
}


/* SECCION 9 */

.seccion9 {
    padding: 90px;
    font-family: 'Work Sans', sans-serif;
}

.seccion9 > h2 {
    display: block;
    color: #F53A50;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 50px;
    font-size: 45px;
    text-align: center;
}

form {
    padding: 0px 90px 0px 180px;
}

.form1 {
    display: flex;
    justify-content: center;
    padding: 0px 2px 30px 0px;
}

.form2, .form3 {
    display: grid;
    justify-content: center;
    padding: 0px 40px 30px 40px;
}

label > span {
    color:#F53A50;

}

.subform1 > input {
    padding: 13px 80px 13px 10px;

}

.form2  {
    justify-content: left;
    padding:10px 0px 20px 128px;
    }

.form2 > input {
    padding: 13px 400px 13px 10px;
    margin-right: 0px;

}

.form3 {
    justify-content: left;
    padding:10px 0px 20px 128px;
}

.form3 > input {
    padding: 13px 400px 150px 10px;
    margin-right: 0px;
}

label {
    display: block;
    padding-bottom: 8px;
    padding-left: 5px;
    font-weight: 600;
}

input {
    margin-right: 60px;
    box-shadow: 1px 1px 8px  #f53a504f;
    border: none;
    border-radius: 7px;
}

.botoncontact {
    text-align: center;
    text-decoration: none;
    margin-right: 90px;
}

.botoncontact9 > button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin-top: 20px;
    padding: 15px 65px 15px 65px;
    background-color: #F53A50;
    border: 2px solid #F53A50;
    border-radius: 9px;
    color: white;
    transition: 0.2s ;
    cursor: pointer;
}

.botoncontact9 > button:hover {
    background-color: #ff008c00;
    color: #FC697B;
    transform: scale(1.10);

}



/* FOOTER */

.fondocolor {
    background-image: linear-gradient(29deg, #C94970 0%, #AB1367 0%, #F53A50 83%, #FC697B 95.43895721435547%);
    padding-top: 60px;
    display: flex;
}

.fondocolor > img {
    width: 30%;
    margin-left: 100px;

}

.iconofooter{
    position: absolute;
    right: 44%;
    padding: 80px 0px 0px 0px;

}

.ic {
    padding: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.final {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    color: #AB1367;
    
}
